---
layout: default
title: HackerEarth News
description: New features, updates and products at HackerEarth.
---
{% include JB/setup %}
{% include JB/analytics %}


<div id="home">
	  <ul class="posts">
	    {% for post in site.posts %}
	    	{% if post.categories != "tips" %}
	      <h2><a class="post-heading" href="{{ post.url }}">{{ post.title }}</a></h2>
	      <p> {{ post.description }} </p>
	      <p class="date">{{ post.date | date_to_string }}</p>
	      <hr class="hr-color"></hr>
	      {% endif %}
	    {% endfor %}
	  </ul >
</div>
